body {
  background-color: hsl(0, 0%, 5%);
  color: #00ff00;
  font-family: "VT323", monospace;
  margin: 2px;
  border-color: grey;
  border-width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  height: 100vh;
  max-width: 100%;
}

.heading {
  margin-left: 15px;
}

h1 {
  font-size: 10vh;
}

.nav li {
  list-style: none;
  margin: 70px;
}

a {
  color: #00ff00;
  text-decoration: none;
  width: 100%;
}

.nav {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 9vh;
  margin-left: -30px;
}

li {
  list-style: none;
}

.nav li::before {
  content: ">";
  margin-right: 25px;
  color: #00ff00;
}

#about {
  font-size: 30px;
}

#image {
  width: 175px;
  height: auto;
  filter: grayscale(100%) contrast(200%) brightness(80%);
  image-rendering: pixelated;
  border: 5px solid #00ff00;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about img {
  width: 175px;
  height: auto;
  filter: grayscale(100%) contrast(200%) brightness(80%);
  image-rendering: pixelated;
  border: 5px solid #00ff00;
}

.about p {
  font-size: 30px;
}

.back a {
  position: fixed;
  top: 75px;
  left: 140px;
  font-size: 50px;
  max-width: 20px;
}

.terminal {
  background-color: hsl(0, 0%, 10%);
  color: #00ff00;
  font-family: "VT323", monospace;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px #00ff00;
  height: 30em;
  margin: 20px auto;
  text-wrap: wrap;
  width: 50vw;
  margin: 5vw;
  overflow: hidden;
}

.terminal p {
  font-size: 5vh;
  display: flex;
}

.dir {
  color: #00ff00;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}

.bodyP {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: 9vh;
}

.Scroll {
  overflow: auto;
  font-size: 50px;
  display: flex;
}

.Scroll a {
  display: flex;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

.Scroll a:hover {
  background-color: #777;
}

ul {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  display: flex;
  gap: 4vw;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  align-items: center;
  justify-content: center;
}

li {
  list-style-type: none;
  background-color: #eee;
  border: 1px solid #ddd;
  padding: 20px;

  scroll-snap-align: center;
  flex: 0 0 100%;
}

/* Responsive adjustments */
@media (max-width: 650px) {
  body {
    margin: 2px; /* Reduce margin on small screens */

    height: 100%;
    overflow-y: scroll;
  }

  .heading {
    margin-left: 75px;
    margin-top: 80px;
  }

  #index h1 {
    text-indent: 35px;
  }

  h1 {
    font-size: 5rem; /* Smaller font size on mobile */
  }

  .nav {
    font-size: 2rem; /* Adjust nav font size */
  }

  .about p {
    font-size: 1.5rem; /* Adjust paragraph size for smaller screens */
  }

  #image {
    width: 40vw; /* Larger image on mobile */
    margin-top: 55px;
  }

  #contact {
    display: flex;
    margin-right: 75px;
    text-align: center;
    margin-top: 95px;
  }

  .terminal {
    min-width: min-content;
    max-width: 200em;
    max-height: 500px;
    margin-top: 115px;
    font-size: 25px;
  }

  .terminal p {
    margin: 15px;
    text-shadow: 0 0 5px #00ff00;
    font-size: 25px;
  }

  .back a {
    left: 2rem;
    font-size: 40px;
    margin-top: 0vh;
    position: fixed;
  }

  #aboutback a {
    font-size: 35px;
  }
}
